@model IEnumerable<KurumsalWeb.Models.Model.Kategori>
@{
    ViewBag.Title = "Admin Ana Sayfa";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




      

        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box blue-bg">
                    <i class="fa fa-tint"></i>
                    <div class="count">@ViewBag.BlogSay</div>
                    <div class="title">Blog Yazısı</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box brown-bg">
                    <i class="fa fa-list"></i>
                    <div class="count">@ViewBag.KategoriSay</div>
                    <div class="title">Kategoriler</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box dark-bg">
                    <i class="fa fa-shopping-cart"></i>
                    <div class="count">@ViewBag.HizmetSay</div>
                    <div class="title">Hizmetler</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->

            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <div class="info-box green-bg">
                    <i class="fa fa-comment"></i>
                    <div class="count">@ViewBag.YorumSay</div>
                    <div class="title">Yorumlar</div>
                </div>
                <!--/.info-box-->
            </div>
            <!--/.col-->

        </div>
        <!--/.row-->




   
    <div class="text-right">
        <div class="credits">
            Designed by <a href="https://kemalseday.com/">Kemal SEDAY</a>
        </div>
    </div>
